* {
    padding: 0;
    margin: 0;
}

.game-wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    width: 602px;
    height: 602px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;

    background-color: black;
    border: 1px solid black;
}

.cell {
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    font-weight: bolder;
    font-size: 5em;
}