* {
    padding: 0;
    margin: 0;
}

.game-wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFD300;
}

.gameboard {
    width: 610px;
    height: 610px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    border: 5px solid rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);;
}

.cell {
    width: 200px;
    height: 200px;
    box-shadow: inset 0 0 5px 15px  rgba(0, 0, 0, 0.5);
}

.cell-background {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 3px 0px black;
    background-image: url(./gfx/grass_texture.jpg);
    background-size:contain;
}

.cell-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;

    font-weight: bolder;
    font-size: 5em;
}

